<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/cdn :: cdn"></head>
<body>
	<div th:insert="fragments/nav :: navbar"></div>
	<div class="container">
		<header class="page-header">
			<h3>Gestione Impiegati</h3>
		</header>
		<ul class="nav nav-tabs">
			<li role="presentation"><a th:href="@{/homepage}">Home</a>
			</li>

			<li role="presentation"><a th:href="@{/datiAziendali}">Gestione 
			Dati Aziendali</a></li>

			<li role="presentation"><a th:href="@{/reparto}">Gestione 
			Reparti</a></li>
			
			<li role="presentation"><a th:href="@{/dipartimenti}">Gestione 
			Dipartimenti</a></li>
			
			<li role="presentation"><a th:href="@{/ruoli}">Gestione 
			Ruoli</a></li>
			
			<li class="dropdown"><a href="#" class="dropdown-toggle"
  				data-toggle="dropdown" role="button">Gestione Dati Dipendente</a>
  					<ul class="dropdown-menu">
  					
  						<li role="presentation" class="active"><a th:href="@{/impiegato}">Gestione Impiegati</a></li>
  						
  						<li role="presentation"><a th:href="@{/turni}">Gestione Turni</a></li>
			
						<li role="presentation"><a th:href="@{/presenze}">Gestione Presenze</a></li>
			
						<li role="presentation"><a th:href="@{/permessi}">Gestione Permessi</a></li>			
			
						<li role="presentation"><a th:href="@{/ferie}">Gestione Ferie</a></li>
			
						<li role="presentation"><a th:href="@{/salari}">Gestione Salario</a></li>
			
						<li role="presentation"><a th:href="@{/bonus}">Gestione Bonus</a></li>
				</ul>
  			</li>
		</ul>
		
		<div class="row">
			<button class="btn btn-info" style="float:left; margin-top: 10px;" onclick="show()" >
				Nuovo Impiegato
			</button>
			
			<div class="alert alert-info" id="add-form" style="padding: 10px; margin-top: 50px; margin-bottom: 50px; display: none;">
				<h4 class="alert alert-heading" style="text-align: center">Nuovo Impiegato</h4>
				<hr>
				<form th:action="@{/aggiungiImpiegato}" th:object="${impiegato}" id="impiegatoForm" method="post" class="form-horizontal">
					<div class="form-group">
						<label class="col-md-1 control-label">Nome</label>
						<div class="col-md-4 inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</span>
								<input type="text" th:field="*{nome}" name="nome" id="nome" placeholder="Nome.." class="form-control">
							</div>
						</div>
						<div class="col-md-7 control label" id="infoNome"></div>
					</div>
					
					<div class="form-group">
						<label class="col-md-1 control-label">Cognome</label>
						<div class="col-md-4 inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</span>
								<input type="text" th:field="*{cognome}" name="cognome" id="cognome" placeholder="Cognome.." class="form-control">
							</div>
						</div>
						<div class="col-md-7 control label" id="infoCognome"></div>
					</div>
					
					<div class="form-group">
						<label class="col-md-1 control-label">Citt&agrave;</label>
						<div class="col-md-4 inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-home"></i>
								</span>
								<input type="text" th:field="*{citta}" name="citta" id="citta" placeholder="Città.." class="form-control">
							</div>
						</div>
						<div class="col-md-7 control label" id="infoCitta"></div>
					</div>
					
					<div class="form-group">
						<label class="col-md-1 control-label">Cap</label>
						<div class="col-md-4 inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-home"></i>
								</span>
								<input type="text" th:field="*{cap}" name="cap" id="cap" placeholder="Cap.." class="form-control">
							</div>
						</div>
						<div class="col-md-7 control label" id="infoCap"></div>
					</div>
					
					<div class="form-group">
						<label class="col-md-1 control-label">Id/Reparto</label>
						<div class="col-md-4 inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-bookmark"></i>
								</span>
								<select th:field="*{repartiImp}" id="reparto" name="reparto" class="form-control">
    								<option th:each="reparto : ${lista3}" th:value="${lista3}" th:text="${lista3}"></option>
								</select>
							</div>
						</div>
						<div class="col-md-7 control label" id="infoRepartiImp"></div>
					</div>
					
					<div class="form-group">
						<label class="col-md-1 control-label">Id/Ruolo</label>
						<div class="col-md-4 inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-bookmark"></i>
								</span>
								<select th:field="*{ruoliImp}" id="ruoli" name="ruoli" class="form-control">
    								<option th:each="impiegato : ${lista2}" th:value="${impiegato}" th:text="${impiegato}"></option>
								</select>
							</div>
						</div>
						<div class="col-md-7 control label" id="infoRuoliImp"></div>
					</div>

					<div class="row">
						<div class="col-md-4 col-md-offset-1">
							<button type="submit" class="btn btn-primary">
								Aggiungi Impiegato
								<span>
									<i class="glyphicon glyphicon-send"></i>
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<script>
			function show() {
				if($('#add-form').is(":visible")) {
					$('#add-form').fadeOut(300);
				}else {
					$('#add-form').fadeIn(300);
				}
			}
		</script>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Citt&agrave;</th>
					<th>Cap</th>
					<th>Reparto</th>
					<th>Ruolo</th>
					<th>Elimina</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="impiegato : ${lista}" style="vertical-align: middle;">
					
					<td style="vertical-align: middle;" th:text="${impiegato[1]}"></td>
					
					<td style="vertical-align: middle;" th:text="${impiegato[4]}"></td>
					
					<td style="vertical-align: middle;" th:text="${impiegato[3]}"></td>
					
					<td style="vertical-align: middle;" th:text="${impiegato[2]}"></td>
					
					<td style="vertical-align: middle;">
						<a th:href="@{|/eliminaImpiegato/${impiegato[0]}|}" role="button" class="btn btn-danger">
							Elimina
							<span>
								<i class="glyphicon glyphicon-trash"></i>
							</span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>